<div class="customers view indent">
    <div class="container">
        <header>
            <h3>
                <span class="glyphicon glyphicon-user"></span>
                {{ title }}
            </h3>
        </header>
        <br />
        <div class="row">
            <div class="col-md-10">
                <div class="navbar">
                    <ul class="nav navbar-nav">
                        <li class="toolbar-item">
                            <a routerLink="/card">
                                <span class="glyphicon glyphicon-th-large"></span> Card View
                            </a>
                        </li>
                        <li class="toolbar-item">
                            <a routerLink="/list">
                                <span class="glyphicon glyphicon-align-justify"></span> List View
                            </a>
                        </li>
                        <li class="toolbar-item">
                            <a routerLink="/map">
                                <span class="glyphicon glyphicon-map-marker"></span> Map View
                            </a>
                        </li>
                        <li class="toolbar-item">
                            <a routerLink="/login">
                                <span class="glyphicon glyphicon-plus"></span> New Customer
                            </a>
                        </li>
                    </ul>
                    <!-- <cm-filter-textbox class="navbar-right"
                   (changed)="filterChanged($event)"></cm-filter-textbox> -->
                </div>
            </div>
        </div>

    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>