<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-lock"></span> Login</h3>
        </header>
        <br />
        <form [formGroup]="loginForm" (submit)="saveUser()" class="login-form">
            
                <div class="row">
                    <div class="col-md-2">
                        Email:
                    </div>
                    <div class="col-md-10">
                            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Password:
                    </div>
                    <div class="col-md-10">
                        <input type="password" name="password" class="form-control" formControlName="password"[ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.maxLength">Password must be between 4 and 8 digits long</div>
                            <div *ngIf="f.password.errors.pattern">Password expression must be atleast has a one numeric digit. </div>
                        </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit"   class="btn btn-primary">Login</button>
                    </div>
                </div>
                <br />
            </div>
        </form>
        
    </div>
</div>