<div class="container">
    <div class="row grid-container">
        <div class="col-md-10">
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>State</th>
                            <th>order Total</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let year of yearFetch">
                        <tr>
                            <td>
                                <img *ngIf="year.gender === 'male'" src="assets/images/male.png" class="grid-image" alt="male" />
                                <img *ngIf="year.gender === 'female'" src="assets/images/female.png" class="grid-image" alt="female" />
                            </td>
                            <td>{{year.firstName}}</td>
                            <td>{{year.lastName}}</td>
                            <td>{{year.address}}</td>
                            <td>{{year.city}}</td>
                            <td>{{year.state?.name}}</td>
                            <td>{{year.orderTotal}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
