button.button {
    background-color: #027ff4;
    color: white;
    margin-top: 10px;
    border-radius: 7px;
    outline: none;
}
.grid-container  div {
    padding-left: 0px;
}

.grid-container td {
    vertical-align: middle;
}

.grid-image {
    height:50px;width:50px;margin-top:10px;
}